# Server
PORT=5000
FRONTEND_URL=http://localhost:5173

# MongoDB
MONGODB_URI=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=7d

# Admin Seed (used only for first-time setup)
ADMIN_EMAIL=
ADMIN_PASSWORD=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Email (Nodemailer)
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=
NOTIFY_EMAIL=
